<div class="form-container">
  <h2>Contact Us</h2>
  <p>You can reach me at:</p>
  <ul>
    <li>Email: <a href="mailto:sshobby12@gmail.com">sshobby12@gmail.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/shoaibahmad26" target="_blank">linkedin.com/in/shoaibahmad26</a></li>
  </ul>
</div>
